In [ ]:
#import libraries

In [193]:
import pandas as pd
import numpy as np
import seaborn as sn
import matplotlib.pyplot as plt
import random
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [3]:
Goal4 = pd.read_excel('Goal4.xlsx')

In [4]:
code_des = pd.read_csv('Goal4-descriptions.csv')

In [5]:
code_des.head()

,Dimension,Code,Description,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51
0,Age,16-65,16 to 65 years old,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Age,M36T47,36 to 47 months old,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Age,M36T59,36 to 59 months old,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Education level,_T,Total or not breakdown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Education level,GRAD23,Grades 2/3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
Goal4.head()

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,...,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51
0,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2013,11.0,2013,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2013,13.0,2013,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2016,21.5,2016,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2016,22.5,2016,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2016,22.0,2016,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df = Goal4; #extra copy

In [95]:
Goal4['TimePeriod'].unique()

array([2013, 2016, 2000, 2009, 2012, 2015, 2018, 2007, 2006, 2011, 2003,
       2017, 2001, 2014, 2008, 2010, 2004, 2019, 2005, 2002, 2020])

In [102]:
final_2018.query('Value != 0 and TimePeriod == 2019')

Empty DataFrame
Columns: [Goal, Target, Indicator, SeriesCode, SeriesDescription, GeoAreaCode, GeoAreaName, TimePeriod, Value, Time_Detail, Source, Education level, Location, Nature, Quantile, Reporting Type, Sex, Units]
Index: []

In [11]:
df.shape

(191762, 52)

In [12]:
df.columns

Index(['Goal', 'Target', 'Indicator', 'SeriesCode', 'SeriesDescription',
       'GeoAreaCode', 'GeoAreaName', 'TimePeriod', 'Value', 'Time_Detail',
       'TimeCoverage', 'UpperBound', 'LowerBound', 'BasePeriod', 'Source',
       'GeoInfoUrl', 'FootNote', 'Age', 'Education level', 'Location',
       'Nature', 'Quantile', 'Reporting Type', 'Sex', 'Type of skill', 'Units',
       'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29',
       'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33',
       'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37',
       'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41',
       'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45',
       'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49',
       'Unnamed: 50', 'Unnamed: 51'],
      dtype='object')

In [13]:
new_data = df[['Goal', 'Target', 'Indicator', 'SeriesCode', 'SeriesDescription',
       'GeoAreaCode', 'GeoAreaName', 'TimePeriod', 'Value', 'Time_Detail',
       'TimeCoverage', 'UpperBound', 'LowerBound', 'BasePeriod', 'Source',
       'GeoInfoUrl', 'FootNote', 'Age', 'Education level', 'Location',
       'Nature', 'Quantile', 'Reporting Type', 'Sex', 'Type of skill', 'Units']]

In [14]:
new_data.isna().sum()

Goal                      0
Target                    0
Indicator                 0
SeriesCode                0
SeriesDescription         0
GeoAreaCode               0
GeoAreaName               0
TimePeriod                0
Value                 12192
Time_Detail               0
TimeCoverage         191762
UpperBound           191762
LowerBound           191762
BasePeriod           189486
Source                    0
GeoInfoUrl           191762
FootNote             176950
Age                  191281
Education level       17879
Location              78911
Nature                    0
Quantile              55387
Reporting Type            0
Sex                   48829
Type of skill        175898
Units                     0
dtype: int64

In [146]:
final_d = new_data[['Goal', 'Target', 'Indicator', 'SeriesCode', 'SeriesDescription',
                    'GeoAreaCode', 'GeoAreaName', 'TimePeriod', 'Value','Time_Detail', 'Source',
                    'Education level','Location','Nature','Quantile','Reporting Type','Sex','Units']]
final_d.head()

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,Source,Education level,Location,Nature,Quantile,Reporting Type,Sex,Units
0,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2013,11.0,2013,National Learning Assessment (NLA): Monitoring...,PRIMAR,NaN,C,NaN,G,BOTHSEX,PERCENT
1,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2013,13.0,2013,National Learning Assessment (NLA): Monitoring...,PRIMAR,NaN,C,NaN,G,BOTHSEX,PERCENT
2,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2016,21.5,2016,National Learning Assessment (NLA): Monitoring...,GRAD23,NaN,C,NaN,G,MALE,PERCENT
3,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2016,22.5,2016,National Learning Assessment (NLA): Monitoring...,GRAD23,NaN,C,NaN,G,FEMALE,PERCENT
4,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2016,22.0,2016,National Learning Assessment (NLA): Monitoring...,GRAD23,NaN,C,NaN,G,BOTHSEX,PERCENT

In [17]:
final_d.isna().sum()

Goal                     0
Target                   0
Indicator                0
SeriesCode               0
SeriesDescription        0
GeoAreaCode              0
GeoAreaName              0
TimePeriod               0
Value                12192
Time_Detail              0
Source                   0
Education level      17879
Location             78911
Nature                   0
Quantile             55387
Reporting Type           0
Sex                  48829
Units                    0
dtype: int64

# <br/>
# Value

In [18]:
final_d.query('TimePeriod == 2018')

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,Source,Education level,Location,Nature,Quantile,Reporting Type,Sex,Units
32,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,8,Albania,2018,58.041947,2018,PISA 2018,LOWSEC,NaN,C,NaN,G,FEMALE,PERCENT
33,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,8,Albania,2018,47.764318,2018,PISA 2018,LOWSEC,NaN,C,NaN,G,BOTHSEX,PERCENT
34,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,8,Albania,2018,55.901917,2018,PISA 2018,LOWSEC,NaN,C,NaN,G,MALE,PERCENT
35,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,8,Albania,2018,59.424983,2018,PISA 2018,LOWSEC,NaN,C,NaN,G,FEMALE,PERCENT
36,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,8,Albania,2018,57.627150,2018,PISA 2018,LOWSEC,NaN,C,NaN,G,BOTHSEX,PERCENT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191728,4,4.c,4.c.1,SE_TRA_GRDL,Proportion of teachers who have received at le...,860,Uzbekistan,2018,98.753000,2018,UIS,PREPRI,NaN,C,NaN,G,MALE,PERCENT
191729,4,4.c,4.c.1,SE_TRA_GRDL,Proportion of teachers who have received at le...,860,Uzbekistan,2018,98.755910,2018,UIS,PREPRI,NaN,C,NaN,G,BOTHSEX,PERCENT
191747,4,4.c,4.c.1,SE_TRA_GRDL,Proportion of teachers who have received at le...,882,Samoa,2018,100.000000,2018,UIS,PREPRI,NaN,C,NaN,G,BOTHSEX,PERCENT
191748,4,4.c,4.c.1,SE_TRA_GRDL,Proportion of teachers who have received at le...,882,Samoa,2018,100.000000,2018,UIS,PREPRI,NaN,C,NaN,G,FEMALE,PERCENT
191749,4,4.c,4.c.1,SE_TRA_GRDL,Proportion of teachers who have received at le...,882,Samoa,2018,100.000000,2018,UIS,PREPRI,NaN,C,NaN,G,MALE,PERCENT

In [19]:
final_d.query('Value == 0').shape

(634, 18)

In [20]:
r,c = final_d.query('Value == 0').shape

In [21]:
final_d.notnull().mean()

Goal                 1.000000
Target               1.000000
Indicator            1.000000
SeriesCode           1.000000
SeriesDescription    1.000000
GeoAreaCode          1.000000
GeoAreaName          1.000000
TimePeriod           1.000000
Value                0.936421
Time_Detail          1.000000
Source               1.000000
Education level      0.906765
Location             0.588495
Nature               1.000000
Quantile             0.711168
Reporting Type       1.000000
Sex                  0.745367
Units                1.000000
dtype: float64

In [32]:
final_mean = final_d

In [33]:
final_2018 = final_mean.query('TimePeriod == 2018')

In [34]:
final_2018.head()

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,Source,Education level,Location,Nature,Quantile,Reporting Type,Sex,Units
32,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,8,Albania,2018,58.041947,2018,PISA 2018,LOWSEC,NaN,C,NaN,G,FEMALE,PERCENT
33,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,8,Albania,2018,47.764318,2018,PISA 2018,LOWSEC,NaN,C,NaN,G,BOTHSEX,PERCENT
34,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,8,Albania,2018,55.901917,2018,PISA 2018,LOWSEC,NaN,C,NaN,G,MALE,PERCENT
35,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,8,Albania,2018,59.424983,2018,PISA 2018,LOWSEC,NaN,C,NaN,G,FEMALE,PERCENT
36,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,8,Albania,2018,57.627150,2018,PISA 2018,LOWSEC,NaN,C,NaN,G,BOTHSEX,PERCENT

In [35]:
final_2018.loc[:,'Value']=final_2018['Value'].fillna(value=0.936421)

/opt/tljh/user/lib/python3.7/site-packages/pandas/core/indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [36]:
final_2018.head()

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,Source,Education level,Location,Nature,Quantile,Reporting Type,Sex,Units
32,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,8,Albania,2018,58.041947,2018,PISA 2018,LOWSEC,NaN,C,NaN,G,FEMALE,PERCENT
33,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,8,Albania,2018,47.764318,2018,PISA 2018,LOWSEC,NaN,C,NaN,G,BOTHSEX,PERCENT
34,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,8,Albania,2018,55.901917,2018,PISA 2018,LOWSEC,NaN,C,NaN,G,MALE,PERCENT
35,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,8,Albania,2018,59.424983,2018,PISA 2018,LOWSEC,NaN,C,NaN,G,FEMALE,PERCENT
36,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,8,Albania,2018,57.627150,2018,PISA 2018,LOWSEC,NaN,C,NaN,G,BOTHSEX,PERCENT

In [39]:
final_2018.isnull().sum()

Goal                    0
Target                  0
Indicator               0
SeriesCode              0
SeriesDescription       0
GeoAreaCode             0
GeoAreaName             0
TimePeriod              0
Value                   0
Time_Detail             0
Source                  0
Education level      1479
Location             5905
Nature                  0
Quantile             5041
Reporting Type          0
Sex                  3376
Units                   0
dtype: int64

In [41]:
final_2018.shape

(9874, 18)

In [42]:
final_2018.Sex.value_counts()

BOTHSEX    2194
FEMALE     2167
MALE       2137
Name: Sex, dtype: int64

In [44]:
final_2018['Education level'].value_counts(normalize=True)

LOWSEC    0.393687
PRIMAR    0.281954
UPPSEC    0.267064
SECOND    0.028588
PREPRI    0.024419
GRAD23    0.004288
Name: Education level, dtype: float64

In [74]:
mask_ed = final_2018['Education level'].isnull()
samples_ed = random.choices( final_2018['Education level'][~mask_ed].values , k = mask_ed.sum() )
final_2018.loc[mask_ed, 'Education level'] = samples_ed

In [75]:
mask_sex = final_2018['Sex'].isnull()
samples_sex = random.choices( final_2018['Sex'][~mask_sex].values , k = mask_sex.sum() )
final_2018.loc[mask_sex, 'Sex'] = samples_sex

In [76]:
final_2018['Sex'].value_counts(normalize=True)

BOTHSEX    0.336338
FEMALE     0.335426
MALE       0.328236
Name: Sex, dtype: float64

In [67]:
len(samples)

1479

In [77]:
final_2018['Education level'].value_counts(normalize=True)

LOWSEC    0.393863
PRIMAR    0.280535
UPPSEC    0.266255
SECOND    0.028965
PREPRI    0.025218
GRAD23    0.005165
Name: Education level, dtype: float64

In [147]:
final_d.update(final_2018[['Education level', 'Sex', 'Value']])

/opt/tljh/user/lib/python3.7/site-packages/pandas/core/frame.py:6599: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = expressions.where(mask, this, that)

In [148]:
final_d.shape

(191762, 18)

In [149]:
final_d.isna().sum()

Goal                     0
Target                   0
Indicator                0
SeriesCode               0
SeriesDescription        0
GeoAreaCode              0
GeoAreaName              0
TimePeriod               0
Value                12086
Time_Detail              0
Source                   0
Education level      16400
Location             78911
Nature                   0
Quantile             55387
Reporting Type           0
Sex                  45453
Units                    0
dtype: int64

In [150]:
final_d.columns

Index(['Goal', 'Target', 'Indicator', 'SeriesCode', 'SeriesDescription',
       'GeoAreaCode', 'GeoAreaName', 'TimePeriod', 'Value', 'Time_Detail',
       'Source', 'Education level', 'Location', 'Nature', 'Quantile',
       'Reporting Type', 'Sex', 'Units'],
      dtype='object')

In [151]:
final_d = final_d[['Goal', 'Target', 'Indicator', 'SeriesCode', 'SeriesDescription',
       'GeoAreaCode', 'GeoAreaName', 'TimePeriod', 'Value', 'Time_Detail',
       'Source', 'Education level', 'Nature',
       'Reporting Type', 'Sex', 'Units']]

In [152]:
final = final_d.dropna(axis=0, how='any')

In [153]:
final.isna().sum()

Goal                 0
Target               0
Indicator            0
SeriesCode           0
SeriesDescription    0
GeoAreaCode          0
GeoAreaName          0
TimePeriod           0
Value                0
Time_Detail          0
Source               0
Education level      0
Nature               0
Reporting Type       0
Sex                  0
Units                0
dtype: int64

In [154]:
final.shape

(124063, 16)

In [155]:
final.head()

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,Source,Education level,Nature,Reporting Type,Sex,Units
0,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2013,11.0,2013,National Learning Assessment (NLA): Monitoring...,PRIMAR,C,G,BOTHSEX,PERCENT
1,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2013,13.0,2013,National Learning Assessment (NLA): Monitoring...,PRIMAR,C,G,BOTHSEX,PERCENT
2,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2016,21.5,2016,National Learning Assessment (NLA): Monitoring...,GRAD23,C,G,MALE,PERCENT
3,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2016,22.5,2016,National Learning Assessment (NLA): Monitoring...,GRAD23,C,G,FEMALE,PERCENT
4,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2016,22.0,2016,National Learning Assessment (NLA): Monitoring...,GRAD23,C,G,BOTHSEX,PERCENT

In [156]:
final_2019 = final.query("TimePeriod == 2019")

In [157]:
final["TimePeriod"].unique()

array([2013, 2016, 2000, 2009, 2012, 2015, 2018, 2007, 2006, 2011, 2003,
       2017, 2001, 2014, 2008, 2010, 2004, 2019, 2005, 2002])

In [158]:
final_2000_2018 = final.query("TimePeriod != 2019 and TimePeriod != 2020")

In [159]:
final_2019.head()

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,Source,Education level,Nature,Reporting Type,Sex,Units
3403,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,716,Zimbabwe,2019,21.20000,2019,Multiple Indicator Cluster Survey (MICS6); Chi...,GRAD23,C,G,FEMALE,PERCENT
3404,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,716,Zimbabwe,2019,18.00000,2019,Multiple Indicator Cluster Survey (MICS6); Chi...,GRAD23,C,G,MALE,PERCENT
3405,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,716,Zimbabwe,2019,19.60000,2019,Multiple Indicator Cluster Survey (MICS6); Chi...,GRAD23,C,G,BOTHSEX,PERCENT
184403,4,4.c,4.c.1,SE_TRA_GRDL,Proportion of teachers who have received at le...,288,Ghana,2019,58.33177,2019,UIS,PRIMAR,C,G,MALE,PERCENT
184404,4,4.c,4.c.1,SE_TRA_GRDL,Proportion of teachers who have received at le...,288,Ghana,2019,58.64879,2019,UIS,PREPRI,C,G,BOTHSEX,PERCENT

In [160]:
final_2000_2018.head()

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,Source,Education level,Nature,Reporting Type,Sex,Units
0,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2013,11.0,2013,National Learning Assessment (NLA): Monitoring...,PRIMAR,C,G,BOTHSEX,PERCENT
1,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2013,13.0,2013,National Learning Assessment (NLA): Monitoring...,PRIMAR,C,G,BOTHSEX,PERCENT
2,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2016,21.5,2016,National Learning Assessment (NLA): Monitoring...,GRAD23,C,G,MALE,PERCENT
3,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2016,22.5,2016,National Learning Assessment (NLA): Monitoring...,GRAD23,C,G,FEMALE,PERCENT
4,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2016,22.0,2016,National Learning Assessment (NLA): Monitoring...,GRAD23,C,G,BOTHSEX,PERCENT

In [161]:
final_2000_2018.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 124006 entries, 0 to 191761
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Goal               124006 non-null  int64
 1   Target             124006 non-null  object
 2   Indicator          124006 non-null  object
 3   SeriesCode         124006 non-null  object
 4   SeriesDescription  124006 non-null  object
 5   GeoAreaCode        124006 non-null  int64
 6   GeoAreaName        124006 non-null  object
 7   TimePeriod         124006 non-null  int64
 8   Value              124006 non-null  float64
 9   Time_Detail        124006 non-null  object
 10  Source             124006 non-null  object
 11  Education level    124006 non-null  object
 12  Nature             124006 non-null  object
 13  Reporting Type     124006 non-null  object
 14  Sex                124006 non-null  object
 15  Units              124006 non-null  object
dtypes: float64(1), int64(3), object(12)
memory usage: 16.1+ MB

In [175]:
final_2000_2018['Indicator'].value_counts()

4.1.2    64414
4.5.1    29048
4.c.1     8516
4.1.1     1903
4.a.1      725
4.4.1      603
4.2.2      147
4.b.1      128
4.2.1       46
4.3.1       12
Name: Indicator, dtype: int64

In [162]:
final['GeoAreaName'] = final['GeoAreaName'].astype('category')

/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [163]:
final['GeoAreaName'].cat.codes

0           0
1           0
2           0
3           0
4           0
         ...
191757    248
191758    248
191759    248
191760    248
191761    248
Length: 124063, dtype: int16

In [164]:
dict(enumerate(final['GeoAreaName'].cat.categories));

In [177]:
X = final_2000_2018[["GeoAreaName", "Education level", "Sex", "Target", "Indicator"]]

In [178]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 105542 entries, 0 to 191761
Data columns (total 5 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   GeoAreaName      105542 non-null  object
 1   Education level  105542 non-null  object
 2   Sex              105542 non-null  object
 3   Target           105542 non-null  object
 4   Indicator        105542 non-null  object
dtypes: object(5)
memory usage: 4.8+ MB

In [180]:
X['GeoAreaName'] = LabelEncoder().fit_transform(X['GeoAreaName'])
X['Education level'] = LabelEncoder().fit_transform(X['Education level'])
X['Sex'] = LabelEncoder().fit_transform(X['Sex'])
X['Target'] = LabelEncoder().fit_transform(X['Target'])
X['Indicator'] = LabelEncoder().fit_transform(X['Indicator'])

/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [181]:
X

        GeoAreaName  Education level  Sex  Target  Indicator
0                 0                3    0       0          0
1                 0                3    0       0          0
2                 0                0    2       0          0
3                 0                0    1       0          0
4                 0                0    0       0          0
...             ...              ...  ...     ...        ...
191757          136                1    1       7          9
191758          136                1    2       7          9
191759          136                3    2       7          9
191760          136                3    0       7          9
191761          136                3    1       7          9

[105542 rows x 5 columns]

In [182]:
Y = final_2000_2018["Value"]

In [183]:
Y

0          11.00000
1          13.00000
2          21.50000
3          22.50000
4          22.00000
            ...
191757     95.54508
191758     89.71963
191759    100.00000
191760     98.75030
191761     97.52328
Name: Value, Length: 105542, dtype: float64

In [184]:
X1 = final_2019[["GeoAreaName", "Education level", "Sex", "Target", "Indicator"]]

In [186]:
X1['GeoAreaName'] = LabelEncoder().fit_transform(X1['GeoAreaName'])
X1['Education level'] = LabelEncoder().fit_transform(X1['Education level'])
X1['Sex'] = LabelEncoder().fit_transform(X1['Sex'])
X1['Target'] = LabelEncoder().fit_transform(X1['Target'])
X1['Indicator'] = LabelEncoder().fit_transform(X1['Indicator'])

/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [187]:
X1

        GeoAreaName  Education level  Sex  Target  Indicator
3403              3                0    1       0          0
3404              3                0    2       0          0
3405              3                0    0       0          0
184403            0                3    2       1          1
184404            0                2    0       1          1
184405            0                3    0       1          1
184406            0                2    2       1          1
184407            0                3    1       1          1
184408            0                5    2       1          1
184409            0                5    1       1          1
184410            0                2    1       1          1
184411            0                5    0       1          1
185593            1                3    0       1          1
185594            1                3    2       1          1
185595            1                3    1       1          1
185596            1                4    2       1          1
185597            1                4    1       1          1
185598            1                4    0       1          1
188325            2                2    0       1          1
188326            2                2    2       1          1
188327            2                3    0       1          1
188328            2                3    1       1          1
188329            2                2    1       1          1
188330            2                1    2       1          1
188331            2                1    0       1          1
188332            2                5    2       1          1
188333            2                3    2       1          1
188334            2                5    0       1          1
188335            2                1    1       1          1
188336            2                5    1       1          1
188337            2                4    2       1          1
188338            2                4    0       1          1
188339            2                4    1       1          1

In [188]:
Y1 = final_2019["Value"]

In [190]:
Y1;

In [194]:
X_train_r, X_test_r, y_train_r, y_test_r = train_test_split(X,Y, test_size=0.30, random_state=2)
print('X_train : {}, X_test: {}, y_train: {}, y_test: {}'.format(X_train_r.shape,X_test_r.shape,y_train_r.shape,y_test_r.shape))

X_train : (73879, 5), X_test: (31663, 5), y_train: (73879,), y_test: (31663,)

In [195]:
model_f = RandomForestRegressor()
model_f.fit(X_train_r, y_train_r)

RandomForestRegressor()

In [196]:
pred_train= model_f.predict(X_train_r)
print('\nTraining Result (F): ')
print('\nRMSE: {}'.format(np.sqrt(mean_squared_error(y_train_r,pred_train))))
print('r2_score: {}'.format(r2_score(y_train_r, pred_train)))

Training Result (F):

RMSE: 12.99762394290397
r2_score: 0.8809456517071487

In [197]:
pred_test = model_f.predict(X_test_r)
print('\nTesting Result (F): ')
print('\nRMSE: {}'.format(np.sqrt(mean_squared_error(y_test_r,pred_test))))
print('r2_score: {}'.format(r2_score(y_test_r, pred_test)))

Testing Result (F):

RMSE: 13.68694567270921
r2_score: 0.8679072245789957

In [199]:
pred_test = model_f.predict(X1)
print('\nTesting Result (F): ')
print('\nRMSE: {}'.format(np.sqrt(mean_squared_error(Y1,pred_test))))
print('r2_score: {}'.format(r2_score(pred_test, Y1)))

Testing Result (F):

RMSE: 29.28854697564254
r2_score: 0.015157313019203755

In [94]:
final['TimePeriod'].unique()

array([2011, 2015, 2000, 2005, 2009, 2017, 2013, 2006, 2001, 2002, 2003,
       2004, 2007, 2008, 2010, 2012, 2014, 2016, 2018])

In [115]:
final_2019.shape

(1356, 13)

In [49]:
final_2018['Education level'].unique()

array(['LOWSEC', 'GRAD23', 'PRIMAR', 'UPPSEC', nan, 'SECOND', 'PREPRI'],
      dtype=object)

In [ ]:
er = new_data['Age'].value_counts()
er

In [ ]:
new_data['Quantile'].unique()

In [ ]:
new_data.query("Age == '16-65'")

In [ ]:
corrMatrix = new_data.corr();
sn.heatmap(corrMatrix, annot=True)
plt.show()

In [ ]:
new_data['Value'].dropna().hist(bins=100)

In [ ]:
new_data.query('TimePeriod == 2018').Value.dropna().hist(bins=100)

In [ ]:
new_data.query('Value <= 0 and TimePeriod == 2018').shape

## Filter and work on the country of focus

#### These countries can be spelt differently sometimes in the dataset (Example Congo Dem. Rep. can also be spelt out as Congo Democratic Republic)

In [124]:
#Country of focus
countries = ['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Azerbaijan', 'Bangladesh', 'Belarus', 'Belize', 'Benin', 'Bhutan','Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo','Congo, Democratic Republic', 'Costa Rica', 'Croatia', "CÃ´te d'Ivoire", 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Eswatini', 'Ethiopia', 'Fiji', 'Gabon', 'Gambia', 'Georgia', 'Ghana', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'India', 'Indonesia', 'Iran (Islamic Republic of)', 'Iraq', 'Jamaica', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo', 'Kyrgyzstan', "Lao People's Democratic Republic", 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia (Federated States of)','Moldova', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Romania', 'Russian Federation', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa', 'Sao Tome and Principe', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan', 'Sri Lanka', 'Sudan', 'Suriname', 'Syrian Arab Republic', 'Tajikistan', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Republic of Tanzania', 'Uruguay', 'Uzbekistan', 'Vanuatu','Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

In [165]:
final_2000_2018 = final_2000_2018[final_2000_2018['GeoAreaName'].isin(countries)]

In [166]:
final_2000_2018.shape

(105542, 16)

In [167]:
final_2019 = final_2019[final_2019['GeoAreaName'].isin(countries)]

In [168]:
final_2019.shape

(33, 16)

In [ ]:
for i,j in enumerate(countries):
    print(i,j)